# Build results
bin/
obj/
publish/
dist/
node_modules/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vscode/
.vs/

# Environment files
.env
.env.local
.env.*.local
