# Build results
bin/
obj/
publish/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vscode/
.vs/

# Environment files
.env

# Android Build & Local Config
.gradle/
**/build/
*.apk
*.aab
local.properties
.cxx/
captures/

# Node / Web Client
node_modules/
dist/
